table{
  width: 850px;
  height: 450px;
  margin: 20px;
}
tr{
  border-bottom: 1px solid lightcoral;
}
td{
  padding: 20px;
  text-align: center;
}
.td1{
  text-align: left;
}
.title{
  background-color: pink;
  color: white;
  border-bottom: 3px solid hotpink;
  border-top: 3px solid hotpink;
  font-size: 18px;
}
.title:hover{
  background-color: pink;
}
.nomber{
  font-weight: 600;
}
.tr3{
  background-color: rgb(255, 223, 227);
}
tr:hover{
  background-color: rgb(245, 176, 176);
}