.header{
  background-color: darkblue;
  display: flex;
  color: white;
  padding: 20px;
}
ol{
  font-size: 27px;
  font-weight: bold;
}
.menu > span{
  top: 10px;
  padding: 0px 20px;
}
.meun{
  margin-left: 60%;
  padding: 10px 35px;
  background-color: midnightblue;
}
.img1{
  width: 100vw;
}
.notification{
  background-color: lightgray;
}
.notification > li{
  padding: 5px;
}
li > span{
  float: right;
}
h1{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  padding: 5px;
}
.container{
  display: flex;
  width: 100vw;
}