<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="carMapper">
	<resultMap id="carInfo" type="com.green.demo.car.vo.CarVO">
        <id column="MODEL_NUM" property="modelNum"/>
        <result column="MODEL_NAME" property="modelName"/>
        <result column="MODEL_PRICE" property="modelPrice"/>
        <result column="MODEL_BRAND" property="modelBrand"/>
    </resultMap>
</mapper>































