<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>board_detail</title>
</head>
<body>
  <div>
    <table>
      <tr>
        <td>글 번호</td>
        <td>[[${board.boardNum}]]</td>
        <td>작성자</td>
        <td>[[${board.writer}]]</td>
        <td>작성일</td>
        <td>[[${board.createDate}]]</td>
      </tr>
      <tr>
        <td>제목</td>
        <td colspan="5">[[${board.title}]]</td>
            
      </tr>
      <tr>
        <td>내용</td>
        <td colspan="5">[[${board.content}]]</td>
      </tr>
    </table>
  </div>
  <div>
    <input type="submit" value="뒤로가기" onclick="location.href = '/list';">
    <!-- 현재 보고있는 게시글을 삭제하고 게시글 목록 페이지로 이동 -->
    <input type="button" value="삭제" th:onclick="goDelete([[${board.boardNum}]])">
  </div>

  <script>
    // 삭제하기 버튼 클릭 시 실행
    function goDelete(boardNum){
      // confirm 실행 후 확인을 클릭하면 true return
      // confirm 실행 후 취소를 클릭하면 false return
      const result = confirm('정말 삭제하시겠어요?');

      // 확인을 클릭 했을 때만 삭제 진행 -> 자바로 이동
      if(result){
        // location.href = '/delete?boardNum=' + boardNum ;
        location.href = `/delete?boardNum=${boardNum}`;
      }
    }
  </script>
</body>
</html>