<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reg_student</title>
</head>
<body>
 <form action="regStu" method="post">
    학번 <input type="number" name="num" > <br>
    이름 <input type="text" required name="name" > <br>
    국어점수 <input type="number" name="korScore" > <br>
    영어점수 <input type="number" name="engScore" > <br>
    학생소개 <textarea name="intr" ></textarea> <br>
    <input type="submit" value="등록완료" name="button">
 </form>
</body>
</html>