<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/updateStu" method="post">
    <table>
      <tr>
        <input type="hidden" name="num" th:value="${student.num}">
        <td>학번</td>
        <td>[[${student.num}]]</td>
        <td>이름</td>
        <td><input type="text" th:value="${student.name}" name="name"></td>
      </tr>
      <tr>
        <td>국어점수</td>
        <td><input type="text" th:value="${student.korScore}" name="korScore"></td>
        <td>영어점수</td>
        <td><input type="text" th:value="${student.engScore}" name="engScore"></td>
      </tr>
      <tr>
        <td>자기소개</td>
        <td><textarea name="intr">[[${student.intr}]]</textarea></td>
      </tr>
    </table>
    <button type="button" onclick="back()">뒤로가기</button>
    <input type="submit" value="정보수정">
  </form>

  <script>
    function back(){
      history.back(-1);
    }
  </script>
</body>
</html>