.title td{
  border: 10px solid white;
  text-align: center;
  color: white;
  background-color: pink;
}

.title{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 70%;
}
.first{
  font-weight: 300;
  text-align: center;
  margin-top: 150px;
}
.carManage:hover{
  cursor:pointer
}
.Car{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.Car > tr {
  border: 1px solid black;
}
.Car td{
  text-align: center;
}