<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <H1>주문서</H1>
  <h3>주문정보</h3>
  [[${orderVO.ck}]] ([[${orderVO.number}]]마리) <br>
  추가사항 : 
  <th:block th:each="option : ${orderVO.option}">
    [[${option}]]
  </th:block><br>
  <!--/* 배열의 길이 구하기 : ${#arrays.length(배열)} */-->
  주문 금액 : [[${orderVO.number * 10000 + #arrays.length(orderVO.option) * 1000}]]원 <br>
  요청 사항 : [[${orderVO.pls}]]

  <h3>배달 정보</h3>
  주문자 : [[${deliveryVO.name}]] <br>
  연락처 : [[${deliveryVO.tel}]] <br>
  배달 주소 : [[${deliveryVO.add}]]
</body>
</html>