<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reg_member</title>
</head>
<body>
  <h4>회원 등록 화면</h4>
  <form action="/regMember" method="post">
      아이디 <input type="text" name = "id"> <br>
      비밀번호 <input type="password" name="pw"> <br>
      이름 <input type="text" name="name"> <br>
      연락처 <input type="number" name = "pn"> <br>
      이메일 <input type="email" name="mail"> <br>
      생일 <input type="date" name="bir"> <br>
      <input type="submit" value="회원가입">
  </form>
</body>
</html>