<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table border="1">
    <tr>
      <td>학번</td>
      <td>[[${student.stuNum}]]</td>
      <td>이름</td>
      <td>[[${student.stuName}]]</td>
    </tr>
    <tr>
      <td>국어점수</td>
      <td>[[${student.korScore}]]</td>
      <td>영어점수</td>
      <td>[[${student.engScore}]]</td>
    </tr>
    <tr>
      <td>자기소개</td>
      <td>[[${student.intro}]]</td>
    </tr>
  </table>
  <button type="button" onclick="goBack()">뒤로가기</button>
  <button type="button" th:onclick="goUpdate([[${student.stuNum}]])">학생수정</button>
  <button type="button" th:onclick="goDelete([[${student.stuNum}]])">학생삭제</button>

  <script>
    // 뒤로가기
    function goBack(){
      history.back(-1);
    }
    // 수정
    function goUpdate(stuNum){
      location.href = `/updateForm?stuNum=${stuNum}`;
    }
    // 학생 삭제
    function goDelete(stuNum){
      location.href = `/student_delete?stuNum=${stuNum}`;
    }
  </script>
</body>
</html>